$text_white: #ffffff;
$text_white_alpha: #ffffffcc;
$text_dirt_white: #fbfbfc;
$text_light_grey: #cecece;
$text_grey: #b9b9b9;
$text_light_blue: #40c4ff;
$text_dark_grey: #595959;
$bg_yellow: #ffd740;
$bg_light_blue: #9ce0ff;
$bg_light_grey: #0707071a;
$bg_white: #ffffff;
$bg_very_light_blue: #d6f2ff;
$bg_blue: #55acee;
$bg_footer: #222222;
$bg_dark_blue: #3b5998;
$text_pink: #ee2852;
